@charset "UTF-8";

html {
	position: relative;
	min-height: 100%;
}

.loader-container-admin {
	min-width: 1050px !important;
	min-height: 250px !important;
}

.all-publications {
	min-width: 1000px !important;
}

.btn.btn-primary {
	background-color: #fd8907;
	border-color: #fd8907;
}
