@charset "UTF-8";

html{
    position:relative; 
    min-height: 100%;
}

#error-container {
	width: 90%;
	margin: 40px 0 0 40px;
}

#error-title {
	color: #FD8907;
}

#error-message {
	color: #888;
	font-size: 18px;
}

#error-status {
	color: #888;
	font-size: 18px;
}

#error-link1 {
	color: #FD8907;
	font-style: italic;
}

#error-link2 {
	color: #FD8907;
	font-style: italic;
}

#link1-container {
	margin: 40px 0 0 40px;
}

#link2-container {
	margin: 10px 0 0 40px;
}