@charset "UTF-8";

#forgottenButton{
    margin-left: 20px;
}

#forgotten-container {
	width: 90%;
	margin: 40px 0 0 40px;
}

#forgotten-title {
	color: #FD8907;
}

#forgotten-message {
	color: #888;
	font-size: 18px;
}

#link {
	color: #FD8907;
	font-style: italic;
}