@charset "UTF-8";

/* Buy Rent Style */

.search_list {
	margin: 30px 0 15px 5px;	
}

.search_list-item {
	float: left;
	width: 50%;
	color: white; 
	font-weight: 550;
	background-color: rgb(200, 200, 200);
	cursor: pointer;
	height: 35px;
}

.search_list-item-label {
	padding-top: 5px;
}

.search_list-item-active{
	background-color: orange !important;
}

.search_list-item:hover {
	background-color: #fecc94;
}

#buy {
	border-right: 1px solid #7C7C7C;
}

/* End of Style */

/* Search Style */

.wrap {
	margin-left: 15px;
	width: 600px;
	height: 85px;
	margin-bottom: 15px;
}

.search {
  width: 115%;
  position: relative;
  display: flex;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 1px solid #ced4da !important;
  border-left-width: 0px !important;
  padding-top: 0px;
  padding: 5px;
  font-size: 15px !important;
  border-radius: 5px !important;
  outline: none;
  color: #999;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

input#search-holder {
	height: calc(1.5em + 1rem + 2px);
	margin-top: 0;
	width: 170%;
	margin-left: 1px;
}

.type-home-select {
	border: 1.3px solid #FD8907;
	border-radius: 5px;
	border-right: 1.3px solid #FD8907;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	font-size: 15px;
	color: #555;
	padding-top: 8px;
	padding-left: 5px;
}

.inlineBlock{
	display: inline-block;
}

#select-type{
	width: 150px !important;
	height: calc(1.5em + 1rem + 2px);
}

.search_list-container {
	text-align: center;  
	width:100%;
	border: 1px solid #7C7C7C;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	min-width: 200px;
	height: 35px;
	width: 20em !important;
}

option {
	font-size: 15px;
  }
  
.searchTerm:focus{
	color: #555;
}
  
input#search-btn {
	border: 0;
	color: white;
	height: calc(1.5em + 1rem + 2px);
	width: 25%;
	background-color: #FD8907;
	cursor: pointer;
	border-radius: 5px;
	outline: 0;
	margin-left: 8px;
	margin-top: 0px;
	padding: 10px 12px;
}
  
/* End of Style */

/* Result Box Style */

.results-container{
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
}

.clean-all {
	border: 0;
	color: white;
	height: 35px;
	background-color: #FD8907;
	cursor: pointer;
	border-radius: 5px;
	outline: 0;
	margin-left: 8px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
}

.results {
	display: inline-block;
	width: 50%;
}

#res {
	float: left;
}
  
/* End of Style */

/* Order By Style */

#order {
	float: right;
	font-size: 14px !important;
	width: 30%;
}

#order-title {
	float: left;
	margin-left: 20px;
	font-size: 25px !important;
	margin-top: 25px !important;
}

#order-title-select {
	margin-left: 20px;
	font-size: 16px !important;
	margin-top: 35px !important;
	float: right;
}

#order-select {
	margin: 30px 15px 0 8px;
  	border: 1px solid #FD8907;
  	border-radius: 5px;
  	color: #555;
  	font-family: inherit;
  	font-size: inherit;
    box-shadow: none;
	width: 40%;	
	float: right;
	padding: 0 !important;
	height: 30px;
/*	height: fit-content;
	width: fit-content;
*/
}

#order-select option {
	font-size: 13px;
}

/* End of style */

/* Applied filters style */

#applied-filters-list {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	display: flex;
}

.applied-filters-list-item {
	font-size: 14px;
	border-radius: 20px;
	background-color: #ccc;
	opacity: 0.8;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 1px;
	margin-right: 7px;
	margin-bottom: 7px;
	margin-top: 5px;
	display: flex;
	height: 25px;
}

.filters {
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	min-height: 40.9px;
}

.delete-btn {
	width: 17px;
	height: 17px;
	margin: 2px 6px 0 -5px !important;
	border-radius: 9px;
	border:none;
	background-color: #888;
	color: white;
	padding: 0;
	margin: 0;
	margin-right: 2px;
	font-size: 11px;
	display: inline;
	cursor: pointer;
	text-align: center; 
}

.delete-btn:focus {
	outline:0;
}

.apply-container {
	height: 50px;
}

.apply-btn {
	width: 100%;
	height: 30px;
	min-width: 70px;
	background-color: #a5a5a5;
	border: none;
	color: white;
	font-size: 15px;
	margin-top: 15px;
	float: center;
}

.applied-filter-text {
	display: inline;
}

/* End of style */

/* Filters list style */

h3 {
	margin-top: 15px !important;
	text-align: center !important;
	font-size: 18px !important;
	color: #666 !important;
}

#filters-title {
	width: 100%;
	height: auto;
	border-bottom: 2px solid #ccc; 
}

.filters-list-item {
	font-size: 15px;
	color: #777;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	
}

.filters-item-name {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
	outline:none;
	text-align: left;
	margin-left: 8px;
	padding-left: 0 !important;
	font-size: 14px;
	color: #FD8907;
}

.filters-item-name:focus {
	outline:0;
}

.filters-list-item-last {
	border-bottom: none;
}

.filters-item-name:hover {
	color: #777;
}

.filter-subtitle {
	margin-bottom: 0;
	font-size: 13.5px;
}

.filter-subtitle-not-first {
	margin-top: 7px;
}

.slidecontainer input {
	width: 100%;
	margin-top: 7px;
}

.radioFlexOption input {
	margin-top: 3px;
}

.expandible {
	padding: 10px 5px 10px 5px;
	height: auto;
	color: #777;
	width: 100%;
	display:none;
	border-bottom: 1px solid #ccc;
}

.show{
	display: block;
}

.arrow-up-filters {
	height: 20px;
	width: 20px;
	float: right;
	position: inline;
	cursor: pointer;
}

.filter-polaroid {
  margin-top: 7px;
  float: left;
  margin-left: 1%;
  width: 19%;
  height: auto;
  min-width: 170px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}

.filter-polaroid-loader{
	width: 100%;
	height: 100%;
}

/* End of style */

/* Properties polaroid list style */

#publications {
	margin-left: 20%;
}

#content-container {
	display:inline-block;
	width: 100%;
}

@media screen and ( max-width: 935px ){
    section {
        margin-left: 180px;
    }
}

/* End of style */

/* No results style */

#no-results-title {
	padding-top: 40px;
	text-align: center;
	color: #FD8907;
	font-size: 20px;
}

#no-results-info {
	color: #aeaeae;
}

/* End of style */

/* Loader Style */

.loader-container{
	background-color: white;
	float: left;
	width: 100%;
	height: 200px;
	margin: 10px;
}

.loader-all-container{
	width: 75%;
	float: left;
}

.hidden{
	display: none;
}

/* End of style */