@charset "UTF-8";

html{
    position:relative; 
    min-height: 100%;
}

#newPasswordButton{
    margin-left: 20px;
}

#newpassword-container {
	width: 90%;
	margin: 40px 0 0 40px;
}

#newpassword-title {
	color: #FD8907;
}

#newpassword-message {
	color: #888;
	font-size: 18px;
}

#link {
	color: #FD8907;
	font-style: italic;
}

#link2-container {
	margin: 10px 0 0 40px;
}