@charset "UTF-8";

html {
    position:relative; 
}

/* My Information Style */

input[type=text], select {
    width: 95%;
    height: 35px;
    padding: 12px 20px;
    margin: 2px 0 0 5px;
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 2px;
    box-sizing: border-box;
    color: #888;
}

label{
    margin-left: 1%;
}

h2 {
	margin-top: 5px !important;
	text-align: center !important;
	font-size: 25px !important;
	color: #666 !important;
}

.last {
	margin-bottom: 45px !important;
}

.form{
	display:block;
}

#editdata-submit {
    margin: 5px 20px 0 0 !important;
	float: right;
}

#editPassword-submit {
	float: right;
	margin-right: 20px;
}

/* End of Style */

/* My Favorites Style */

.title_section {
	padding-top:20px;
	font-weight:580;
	color:dimgrey;
	font-size:23px;
	margin-top: 0 !important;
}

/* End of style */

/* List of publications */

.section_publications {
	margin-left: 240px;
	width: 78%;
	height: 100%;
}

#list-of-publications {
	display: inline-block;
	width: 100%;
}

/* End of style */