.polaroid-property {
	margin: 7px 0 0 1%;
	float: left;
	width: 98%;
	height: auto;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	min-width: 930px;
}

.img-with-tag {
	display: inline-block;
	position: relative;
}

.next-image,
.prev-image {
	height: 25px;
	width: 25px;
	top: 95px;
	right: 5px;
	position: absolute;
	cursor: pointer;
}

.prev-image {
	left: 5px !important;
}

.polaroid-property-img {
	display: block;
	height: 200px;
	width: 260px;
	float: left;
	margin: 5px auto 5px 5px;
}

.price-tag {
	color: #fff !important;
	font-family: 'Rubik', sans-serif;
	font-size: 23px !important;
	position: absolute;
	bottom: 5px;
	left: 15px;
	text-shadow: 0.5px 1px 1px #666;
}

.favorite-icon {
	position: absolute;
	top: 12px;
	right: 8px;
	height: 25px;
	width: 25px;
	cursor: pointer;
	outline: none;
}

.property-title {
	text-align: left !important;
	color: #999;
	font-size: 20px !important;
	float: left;
	max-width: 95%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis !important;
	margin: 3px 0 8px 20px !important;
}

.property-container {
	margin: 0 10px 0 15px;
	height: 180px;
	width: 80%;
	display: flex;
	flex-direction: row;
}

.property-characteristics {
	margin: 10px 200px 0 30px;
	height: 100px;
	display: flex;
}

.address {
	font-family: 'Rubik', sans-serif !important;
	font-size: 16px !important;
	color: #888 !important;
	margin-left: 10px;
	padding-top: 40px !important;
	text-align: left !important;
}

#address {
	padding-left: 15px !important;
}

.column-1 {
	height: inherit;
	width: 30%;
	min-width: 130px;
}

.column-2 {
	height: inherit;
	width: 45%;
	margin-left: 20px;
	min-width: 190px;
}

h4 {
	font-family: 'Rubik', sans-serif !important;
	font-size: 13px !important;
	color: #888 !important;
}

.more-info,
.more-info2 {
	height: 20px;
	margin-top: 5px;
	width: 102%;
	padding-top: 160px;
}

.more-info2 {
	padding-top: 130px !important;
}

.more-info-title {
	float: right;
	font-size: 15px !important;
	color: #fd8907 !important;
}

.delete {
	width: 12px;
	height: 12px;
	cursor: pointer;
}

.delete-title {
	cursor: pointer;
}

.edit-title {
	margin: 0 -45px 0 20px;
}

.edit-icon {
	margin-right: -80%;
}

.delete-icon {
	margin-right: -75%;
	cursor: pointer;
}

.delete-icon2 {
	margin-left: 80%;
	cursor: pointer;
}

.bigCharacteristic {
	margin-top: 15px !important;
	text-align: left !important;
	font-size: 13px !important;
	color: #888 !important;
}

.littleCharacteristic {
	font-family: 'Rubik', sans-serif !important;
	font-size: 13px !important;
	color: #888 !important;
	text-align: left !important;
}

.pub-date {
	font-size: 13px;
	color: #999;
	font-style: italic;
	float: right;
	margin: 0 -5px 0 0 !important;
}

.first-column {
	width: 50% !important;
	min-width: 290px !important;
}

.second-column {
	width: 48% !important;
	margin-top: 10px;
}
