.publish-title {
	margin: 15px 5px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
}

.box_form {
	margin: 20px 0 50px 17%;
	float: left;
	width: 70%;
	height: auto;
	min-width: 250px;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
	margin-top: 15px !important;
	text-align: center !important;
	font-size: 30px !important;
	color: #666 !important;
}

h4 {
	margin: 15px 5px 5px 5px !important;
	text-align: center !important;
	font-size: 30px !important;
	color: #666 !important;
}

.down_box_title {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 15px 0;
}

.sub_box {
	float: left;
	width: 50%;
}

.down_box {
	display: inline-block;
	width: 100%;
}

.chooseFileButton {
	width: 20%;
	background-color: #fd8907 !important;
	border-color: #fd8907 !important;
}

#submitButton {
	position: relative;
	width: 93%;
	margin: 20px 30px 30px 0;
	float: right;
	background-color: #fd8907;
	border-color: #fd8907;
}

#imageText {
	font-size: 20px;
	color: #555;
	text-overflow: ellipsis;
	overflow: hidden;
}

.image_wrapper {
	display: flex;
	text-align: center;
	vertical-align: middle;
	line-height: 500px;
}

.imageViewer {
	border: 1px solid #666;
	width: 500px;
	height: 500px;
	margin: 20px auto;
	display: flex;
	justify-content: center;
	position: relative;
}

.countImagesText {
	position: absolute;
	bottom: -275px;
	text-align: center;
}

.imageStyle {
	margin: auto;
	max-width: 95%;
	max-height: 80%;
	height: auto;
}

.hidden {
	display: none;
}

.wrapper_arrows {
	display: inline-block;
}

.arrows {
	font-size: 70px;
	cursor: pointer;
	color: #888;
}

.arrow-left {
	margin-left: 70px;
}

.arrow-right {
	margin-right: 70px;
}

.error {
	border: 2px solid #ff6565 !important;
}

.error-message {
	color: #ff6565;
	padding: 0.5em 0.2em;
	height: 1em;
	position: absolute;
	font-size: 0.8em;
}

#province-Select,
#city-Select,
#neighborhood-Select {
	width: 95%;
	height: 35px;
	padding: 0 !important;
	margin: 2px 0 0 5px;
	display: inline-block;
	border: 1px solid #aaa;
	border-radius: 0;
	box-sizing: border-box;
	color: #aaa;
}

.form-check {
	margin-left: 5px;
}

.form-check-label {
	color: #999;
}

.fileContainer {
	box-shadow: none !important;
	border-radius: 0 !important;
	margin: 10px 5px !important;
	padding-top: 0 !important;
	border-bottom: 1px solid #ddd;
}
