/.metadata/
/.recommenders/

paw2018b/interfaces/\.classpath

paw2018b/interfaces/\.project

paw2018b/models/\.classpath

paw2018b/models/\.project

paw2018b/persistence/\.classpath

paw2018b/persistence/\.project

paw2018b/services/\.classpath

paw2018b/services/\.project

paw2018b/webapp/\.classpath

paw2018b/webapp/\.project

paw2018b/frontend/node/node_modules/*

paw2018b/frontend/node_modules/*

paw2018b/frontend/build/*

paw2018b/frontend/node/*
