/.metadata/
/.recommenders/

paw2018b/interfaces/\.classpath

paw2018b/interfaces/\.project

paw2018b/models/\.classpath

paw2018b/models/\.project

paw2018b/persistence/\.classpath

paw2018b/persistence/\.project

paw2018b/services/\.classpath

paw2018b/services/\.project

paw2018b/webapp/\.classpath

paw2018b/webapp/\.project

frontend/node_modules/*
