<!DOCTYPE html>
	<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		</head> 					
			<body style="margin: 0;padding: 0;">
				<table style="border-spacing: 0; padding: 0; border: 0; width: 100%;">	
					<tr>
						<td style="padding: 10px 0 30px 0;">
							<table style="border: 1px solid #cccccc; border-collapse: collapse; width: 600px;	margin-left:auto; margin-right:auto; border-spacing: 0;	padding: 0;">
								<tr>
									<td style="padding: 30px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: 'Rubik', sans-serif;" align="center" bgcolor="#fff" >
										<img style="display: block;" src="https://i.imgur.com/IAsJ1Tb.png" alt="MeinHaus" width="150\" height="50"  />
									</td>
										</tr> 
										<tr> 
									<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;"> 
										<table style="border-spacing: 0; padding: 0; border: 0; width: 100%;"> 
											<tr>
												<td style="color: #153643; font-family: 'Rubik', sans-serif; font-size: 24px;"> 
													<b th:text="#{mailContent.title}"> You have been contacted by MeinHaus! </b> 
												</td>
											</tr>
											<tr>
												<td style="padding: 20px 0 10px 0; color: #153643; font-family: 'Rubik', sans-serif; font-size: 15px; line-height: 20px;" > 
													<span th:text="#{mailContent.mailFrom}" th:remove="tag"> Mail from: </span>
													<a href="#" style="color:#FD8907; margin-left:5px;" th:text="${email}"> </a>
													<a  style="margin-left:5px;" th:text="'(' + ${name} + ')'"></a>
												</td> 
											</tr>
											<tr>
												<td style="padding: 5px 0 15px 0; color: #153643; font-family: 'Rubik', sans-serif; font-size: 15px; line-height: 20px;" th:text="#{mailContent.followingMessage}" > 
													With the following message:
												</td>
											</tr>
											<tr> 
												<td style="font-style: italic; font-family: 'Rubik', sans-serif; color: #999; font-size: 15px;" th:text="${message}"> 
												</td> 
											</tr>
											<tr>
												<td style="padding: 20px 0 10px 0; color: #153643; font-family: 'Rubik', sans-serif; font-size: 15px; line-height: 20px;" th:text="#{mailContent.property}">
													Property:
												</td>
											</tr>
											<tr>
												<td style="font-style: italic; font-family: 'Rubik', sans-serif; color: #999; font-size: 15px;" th:text="${propertyTitle}"> </td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td bgcolor="#FD8907" style="padding: 30px 30px 30px 30px;">
										<table style="border-spacing: 0; padding: 0; border: 0; width: 100%;"> 
											<tr>
												<td style="color: #ffffff; font-family: 'Rubik', sans-serif; font-size: 14px;" width="75%"  th:text="'&reg' + #{mailContent.signature}"> 
													&reg; Meinhaus, 2020<br/> 
												</td> 
											</tr> 
										</table> 
									</td> 
								</tr> 
							</table> 
						</td> 
					</tr> 
				</table> 
		</body> 
	</html>