
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.user-status {
	position: relative;
	float: right;
	margin-right: 10px;
	color: #888;
	font-style: italic;
	margin-top: 12px;
	margin-bottom: 10px;
	font-size: 14px;
}

.user-email {
	position: relative;
	float: left;
	margin-right: 10px;
	margin-top: 12px;
	margin-bottom: 10px;
	font-size: 20px;
}

.user-email {
	margin-top: 10px;
	margin-bottom: 8px;
	margin-left: 5px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    float: right;
    margin-top: 12px;
    margin-right: 10px !important;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .loader-container-users{
	  min-height: 120px;
	  min-width: 1040px;
  }
