.signup-list-item {
	font-size: 20px;
	color: #777;
  padding: 20px 10px;
  border-style: solid;
  border-color: #777;
  border-width: 3px;
  margin-top: 50px;
}

div.polaroid {
    margin-top: 20px;
    float: left;
    margin-left: 2%;
    width: 65%;
    height: auto;
    min-width: 250px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
  }

  .data {
	text-decoration: none;
	list-style: none;
	padding:10px;
	background-color: #db7504;
	width:40%;
	height:80%;
}

.title-container h3{
	margin-top: 5px !important;
	text-align: center !important;
	font-size: 18px !important;
	color: #666 !important;
}

.legendTag{
  display: block;
  padding-left: 4px;
  padding-right: 4px;
  border: none;
  width: auto;
  font-size: 16px;
}

.location-label{
  margin: 5px 10px 5px 0;
}

.location-input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 250px !important;
}

.location-select{
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  width: 40%;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 200px !important;
}

.signup-submit {
  padding: 7px 25px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}



