@charset "UTF-8";

.wrap{
	margin-left: 15px;
	width: 600px;
	height: 85px;
	margin-bottom: 15px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 2px solid #FD8907;
  border-left: none;
  padding: 5px;
  font-size: 15px !important;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: #999;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.type-home-select {
  border: 2px solid #FD8907;
  border-radius: 5px;
  border-right: 1.5px solid #FD8907;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  font-size: 15px;
  color: #555;
  padding-left: 5px;
}

.inlineBlock{
	display: inline-block;
}

#select-type{
	height: 40px;
}

.search_list-container {
	text-align: center;  
	width:100%;
	border: 1px solid #7C7C7C;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	min-width: 200px;
	height: 35px;
}


.results-container{
	width: 100%;
}


option {
  font-size: 15px;
}

.searchTerm:focus{
  color: #555;
}

input#search-btn {
	border: 0;
	color: white;
	height: 40px;
	background-color: #FD8907;
	cursor: pointer;
	border-radius: 5px;
	outline: 0;
	margin-left: 8px;
	padding-left: 12px;
	padding-right: 12px;
}

#search-img {
	width: 20px;
	height: 20px;
	margin-bottom: 2px;
}

#results-container {
	height: 50px;
}

.results {
	display: inline-block;
	width: 50%;
}

#res {
	float: left;
}

#res-title {
	float: left;
	margin-left: 15px;
}

#order {
	float: right;
	font-size: 14px !important;
}

#order-title {
	float: left;
	margin-left: 20px;
	font-size: 25px !important;
	margin-top: 25px !important;
}

#order-title-select {
	float: right;
	margin-left: 20px;
	font-size: 16px !important;
	margin-top: 25px !important;
}

#order-select {
	display: inline-block;
	float: right;
	margin-left: 8px;
	margin-right: 10px;
	margin-top: 23px;
	
  	border: 1px solid #FD8907;
  	border-radius: 5px;

  	color: #555;
  	font-family: inherit;
  	font-size: inherit;
  	box-shadow: none;
}

#order-select option {
	font-size: 13px;
}


/* End of style */

/* Buy Rent Style */

.search_list {
	width: 40%;
	min-width: 200px;
  	margin-bottom: 15px;
  	
}

.search_list-item {
	float: left;
	width: 50%;
	color: white; 
	font-weight: 550;
	background-color: rgb(200, 200, 200);
	cursor: pointer;
	height: 35px;
	
}

.search_list-item-label {
	padding-top: 5px;
}

.search_list-item:hover {
	background-color: #fecc94;
}

.search_list-item label {
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

.search_list-item input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
 }

.search_list-item input:hover {
	background-color: #fecc94;
	cursor:pointer;
}

#buy {
	border-right: 1px solid #7C7C7C;
}

.buyrent-btn {
	background-color: rgb(200, 200, 200);
	color:white;
	border: none;
	width: 100%;
	height: 35px;
}

/* Closing Style */

/* Applied filters style */

#applied-filters-list {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	display: flex;
}

.applied-filters-list-item {
	font-size: 14px;
	border-radius: 20px;
	background-color: #ccc;
	opacity: 0.8;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-right: 7px;
	margin-bottom: 7px;
	margin-top: 5px;
	display: flex;
	height: 25px;
}

.filters {
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	min-height: 40.9px;
}

.delete-input {
	margin-right: 5px;
	height: 17px;
	width: 17px;
	margin-bottom:5px;
	display: inline;
	
}

.delete-btn {
	width: 17px;
	height: 17px;
	border-radius: 9px;
	border:none;
	background-color: #888;
	color: white;
	padding: 0;
	margin: 0;
	margin-bottom: 3px;
	margin-right: 2px;
	font-size: 11px;
	display: inline;
	cursor: pointer;
}

.delete-btn:focus {
	outline:0;
}

.apply-container {
	height: 50px;
}

.apply-btn {
	width: 100%;
	height: 30px;
	min-width: 70px;
	background-color: #a5a5a5;
	border: none;
	color: white;
	font-size: 15px;
	margin-top: 15px;
	float: center;
}

.applied-filter-text {
	display: inline;
}

/* End of style */


/* Filters list style */

h3 {
	margin-top: 15px !important;
	text-align: center !important;
	font-size: 18px !important;
	color: #666 !important;
}

#filters-title {
	width: 100%;
	height: auto;
	border-bottom: 2px solid #ccc; 
}

.filters-list-item {
	font-size: 15px;
	color: #777;
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid #ccc;
	
}

.filters-list-item-last {
	border-bottom: none;
}


.expandible {
	padding: 10px 5px 10px 5px;
	height: auto;
	color: #777;
	width: 100%;
	display:none;
	border-bottom: 1px solid #ccc;
}

.check_box {
	width:100%;
	padding-left: 0 !important;
}

.arrow-up-filters {
	height: 20px;
	width: 20px;
	float: right;
	position: inline;
	cursor: pointer;
}

.filter-polaroid {
  margin-top: 7px;
  float: left;
  margin-left: 1%;
  width: 19%;
  height: auto;
  min-width: 170px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
}

.filters-item-name {
	margin-left: 8px;
	font-size: 14px;
	margin-bottom: 5px;
}

/* End of style */


/* Properties polaroid list style */

div.polaroid-property {
	margin-top: 7px;
	float: left;
	margin-left: 1%;
	width: 98%;
	height: auto;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	min-width: 700px;
}

.img-with-tag {
	display: inline-block;
	position: relative;
}

.price-tag {
	color: white !important;
	font-family: 'Rubik', sans-serif;
	font-size: 23px !important;
	position: absolute;
	bottom: 5px;
	left: 15px;
	text-shadow: 0.5px 1px 1px #666;
}

.favorite-icon {
	position: absolute;
	top: 12px;
	right: 8px;
	height: 30px;
	width: 30px;
	cursor: pointer;
}

.next-image {
	height: 25px;
	width: 25px;
	top: 95px;
	right: 5px;
	position: absolute;
	cursor: pointer;
}

.prev-image {
	height: 25px;
	width: 25px;
	top: 95px;
	left: 5px;
	position: absolute;
	cursor: pointer;
}

.polaroid-property-img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px; 
    width: 260px; 
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.property-title {
	text-align: left !important;
	color: #999;
	margin-left: 10px;
	font-size: 20px !important;
	display: inline-block;
	max-width: 95%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.property-date {
	float: right !important;
	color: #888;
	font-size: 13px !important;
	display: inline-block;
	margin-top: 15px;
	margin-right: 5px;
}

.property-container {
	margin-right: 10px;
	margin-left: 15px;
	height: 180px;
	width: 80%;
	display: flex;
	flex-direction: row;
}

.property-characteristics {
	margin-left: 30px;
	height: 100px;
	margin-top: 20px;
	margin-right: 200px;
	display: flex;	
}

.address {
	font-family: 'Rubik', sans-serif !important;
	font-size: 16px !important;
	color: #888 !important;
	margin-left: 10px;
	margin-top: 3px;
}

#address {
	padding-left: 10px !important;
}

.column-1 {
	height: inherit;
	width: 30%;
	min-width: 130px;
}

.column-2 {
	height: inherit;
	width: 45%;
	margin-left: 5px;
	min-width: 130px;
}

h4 {
	font-family: 'Rubik', sans-serif !important;
	font-size: 13px !important;
	color: #888 !important;
}

.more-info {
	height: 20px;
	margin-top: 70%;	
}

.more-info-title {
	float: right;
	font-size: 15px !important;
	color: #FD8907 !important;
	margin-right: 15px;
}

#publications {
	margin-left: 20%;
}

#content-container {
	display:inline-block;
	width: 100%;
}

@media screen and ( max-width: 935px ){
    section {
        margin-left: 180px;
    }
}

.ocultar {
	display: none;
}

/* End of style */

/* Style pagination */

.page-nums-container {
	margin-left: 20% !important;
	text-align: center;
}

.page-nums {
	margin-top: 20px;
	display:inline-block;
	height: 70px;
}

.page-nums a {
    color: #FD8907;
    border: none;
    float: center;
    padding: 8px 16px;
    transition: background-color .3s;
    cursor: pointer;
}

.page-nums a:hover {
	outline:none;
	color: #FD8907;
	text-decoration: none;
	background-color: #ddd;
}

.page-nums a:focus {
	outline:none;
	background-color: #c6c6c6;
	color: white;
}

/* Style the active/current link */
.page-nums a.active {
    background-color: #aeaeae;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
	background-color: #a5a5a5;
} 

/* End of style */

/* No results style */

#no-results {
	margin-left: 21%;
}

#no-results-title {
	padding-top: 40px;
	text-align: center;
	color: #FD8907;
}

#no-results-info {
	color: #aeaeae;
}

/* End of style */

.error{
  color: red;
  font-size: 14px;
  margin-left: 5px;
  margin-top: 1px;
}

.actualPage{
	background-color: #aeaeae;
}

.page-number.actualPage {
	color: white;
}

.hidden{
	display: none;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #FD8907;
    cursor: pointer;
    border:none;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #FD8907;
    cursor: pointer;
    border:none;
}

.filters-item-name {
	color: #FD8907;
}

.filters-item-name:hover {
	color: #777;
}

.filter-subtitle {
	margin-bottom: 0;
	font-size: 13.5px;
}

.filter-subtitle-not-first {
	margin-top: 7px;
}

.slidecontainer input {
	width: 100%;
	margin-top: 7px;
}

.radioFlexOption{
	display: flex;
}

.radioFlexOption input {
	margin-top: 3px;
}

#maxPriceInput {
	font-size: 14px;
	color: #777;
}

#minPriceInput {
	font-size: 14px;
	color: #777;
}

/* Notice style */

.notice{
	text-align:center;
}

.msg-sent-container {
    padding: 1px 5px 1px 5px;
    background-color: black;
    border-radius:8px;
    -moz-border-radius:8px; 
    -webkit-border-radius:8px;
    opacity: 0.7;
    display:inline-block;
    margin-bottom: 10px;
}

#msg-sent {
    color: white;
    font-size: 12px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
}

/* End of style */

.pub-date {
	font-size: 13px;
	color: #999;
	font-style: italic;
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}

.first-column {
	width: 65%;
}

.second-column {
	width: 34%;
}