@charset "UTF-8";

/* Aside bar style */
.leftcol {
    background:#FD8907;
    text-align:left;
    height:820px;
    float:left;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 30px; 
    width:190px;
}

.leftcol ul li a:active{
    background: #db7504;
}

.current {
    background: #db7504;
}

.leftcol ul li a:focus{
    background: #db7504;
}

.leftcol ul {
    list-style-type: none;
    font-size: 18px;
    padding: 0;
    margin-left: 4px;
    margin-top: 10px;
    color:#2B3B4E;
    text-align: center;
    vertical-align:middle;
}
.leftcol ul a {
    text-decoration: none;
    color:#eee;
    font-weight: 580;
    padding: 8px;
    text-align: center;
    vertical-align:middle;
   	font-size:17px;
    
}

.leftcol ul li {
	padding: 5px;
    margin-left: -5px;
    cursor: pointer;
}

.leftcol ul li:hover {
    background-color: #db7504;
}

.leftcol ul .subitem{
	font-size: 18px;
}

/* Closing style */