.polaroid-property {
	margin-top: 7px;
	float: left;
	margin-left: 1%;
	width: 98%;
	height: auto;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	min-width: 930px;
}

.img-with-tag {
	display: inline-block;
	position: relative;
}

.price-tag {
	color: white !important;
	font-family: 'Rubik', sans-serif;
	font-size: 23px !important;
	position: absolute;
	bottom: 5px;
	left: 15px;
	text-shadow: 0.5px 1px 1px #666;
}

.favorite-icon {
	position: absolute;
	top: 12px;
	right: 8px;
	height: 30px;
	width: 30px;
	cursor: pointer;
}

.next-image {
	height: 25px;
	width: 25px;
	top: 95px;
	right: 5px;
	position: absolute;
	cursor: pointer;
}

.prev-image {
	height: 25px;
	width: 25px;
	top: 95px;
	left: 5px;
	position: absolute;
	cursor: pointer;
}

.polaroid-property-img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px; 
    width: 260px; 
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.property-title {
	text-align: left !important;
	color: #999;
	font-size: 20px !important;
	float: left;
	max-width: 95%;
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis !important;
	margin: 3px 0 8px 20px !important;
}

.property-date {
	float: right !important;
	color: #888;
	font-size: 13px !important;
	margin-top: 15px;
	margin-right: 5px;
}

.property-container {
	margin-right: 10px;
	margin-left: 15px;
	height: 180px;
	width: 80%;
	display: flex;
	flex-direction: row;
}

.property-characteristics {
	margin-left: 30px;
	height: 100px;
	margin-top: 10px !important;
	margin-right: 200px;
	display: flex;	
}

.address {
	font-family: 'Rubik', sans-serif !important;
	font-size: 16px !important;
	color: #888 !important;
	margin-left: 10px;
	padding-top: 40px !important;
	text-align: left !important;
}

#address {
	padding-left: 10px !important;
}

.column-1 {
	height: inherit;
	width: 30%;
	min-width: 130px;
}

.column-2 {
	height: inherit;
	width: 45%;
	margin-left: 5px;
	min-width: 130px;
}

h4 {
	font-family: 'Rubik', sans-serif !important;
	font-size: 13px !important;
	color: #888 !important;
}

.more-info {
	height: 20px;
	padding-top: 40%;	
}

.more-info-title {
	margin-right: -50px;
	float: right;
	font-size: 15px !important;
	color: #FD8907 !important;
}

.bigCharacteristic {
	margin-top: 15px !important;
	text-align: left !important;
	font-size: 13px !important;
	color: #888 !important;
}

.littleCharacteristic {
	font-family: 'Rubik', sans-serif !important;
	font-size: 13px !important;
	color: #888 !important;
	text-align: left !important;
}