.box_form {
    margin-top: 10px;
    float: left;
    margin-left: 17%;
    width: 70%;
    height: auto;
    min-width: 250px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
}

h3 {
	margin-top: 15px !important;
	text-align: center !important;
	font-size: 30px !important;
	color: #666 !important;
}

h4 {
    margin-top: 15px !important;
	text-align: center !important;
	font-size: 30px !important;
	color: #666 !important;
}

.sub_box{
    float: left;
    width: 50%;
}

.down_box {
    display:inline-block;
    width: 100%;
}

#uploadButton{
    margin:0 auto;
    margin-top: 15px;
    display:block;
}

.chooseFileButton {
    width: 20%;
    background-color: #FD8907 !important;
    border-color: #FD8907 !important;
}

#submitButton{
    position: relative;
    width: 93%;
    margin: 40px 30px 30px 0;
    float:right;
    background-color: #FD8907;
    border-color: #FD8907;
}

#imageText{
    text-align: center;
    vertical-align: middle;
    line-height: 600px;
    font-size: 45px;
}

.image_wrapper{
    display: flex;
    text-align: center;
    vertical-align: middle;
    line-height: 600px;
}

.imageViewer{
    border:1px solid black;
    width: 75%;
    height: 600px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.countImagesText{
    position: absolute;
    bottom: -275px;
    text-align: center;
}

.imageStyle{
    margin:auto;
    max-width: 95%;
    max-height: 80%;
    height: auto;
}

.hidden{
    display: none;
}

.wrapper_arrows{
    display: inline-block;
}

.arrows{
    font-size: 90px;
    cursor: pointer;
}

.arrow-left {
    margin-left: 20px;
}

.arrow-right {
    margin-right: 20px;
}

.error {
    border: 2px solid #FF6565 !important
  }

.error-message {
    color: #FF6565;
    padding: .5em .2em;
    height: 1em;
    position: absolute;
    font-size: .8em;
  }

#province-Select, #city-Select, #neighborhood-Select {
    width: 95%;
    height: 35px;
    padding: 12px 20px;
    margin-top: 2px;
	margin-left: 5px;
    display: inline-block;
    border: 1px solid;
    border-color:#aaa;
    border-radius: 2px;
    box-sizing: border-box;
    color: #aaa;
}

.form-check {
    margin-left: 5px;
}