
.box_form_signUp {
    margin-top: 10px;
    float: left;
    margin-left: 17%;
    width: 35%;
    height: auto;
    min-width: 250px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
}

h3 {
	margin-top: 15px !important;
	text-align: center !important;
	font-size: 30px !important;
	color: #666 !important;
}

.errorText{
    color:red;
    display: none;
}