/.metadata/
/.recommenders/


*.iml
.DS_Store
*.ini

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

*.class
.classpath
.project
.settings/target/
.settings

# Locally stored "Eclipse launch configurations"
*.launch

# Maven
log/
target/

### STS ###
.apt_generated
.factorypath
.springBeans

paw2018b/interfaces/\.classpath

paw2018b/interfaces/\.project

paw2018b/models/\.classpath

paw2018b/models/\.project

paw2018b/persistence/\.classpath

paw2018b/persistence/\.project

paw2018b/services/\.classpath

paw2018b/services/\.project

paw2018b/webapp/\.classpath

paw2018b/webapp/\.project

