@charset "UTF-8";

html{
    position:relative; 
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif !important;
    margin-bottom:100px;
    background-size:100% auto;
    background-color: #eee !important;    
}

div.polaroid {
  margin-top: 20px;
  float: left;
  margin-left: 2%;
  width: 65%;
  height: auto;
  min-width: 250px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
}

#users {
	width: 50%;
}

.current {
    background: #db7504;
}

/* Aside bar style */
.leftcol {
    background:#FD8907;
    text-align:left;
    height:820px;
    float:left;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 30px; 
    width:190px;
}

.leftcol ul li a:active{
    background: #db7504;
}

.current {
    background: #db7504;
}

.leftcol ul li a:focus{
    background: #db7504;
}

.leftcol ul {
    list-style-type: none;
    font-size: 18px;
    padding: 0;
    margin-left: 4px;
    margin-top: 10px;
    color:#2B3B4E;
    text-align: center;
    vertical-align:middle;
}
.leftcol ul a {
    text-decoration: none;
    color:#eee;
    font-weight: 580;
    padding: 8px;
    text-align: center;
    vertical-align:middle;
   	font-size:17px;
    
}

.leftcol ul li {
	padding: 5px;
    margin-left: -5px;
    cursor: pointer;
}

.leftcol ul li:hover {
    background-color: #db7504;
}

.leftcol ul .subitem{
	font-size: 18px;
}

/* Closing style */

.title-container {
	margin-right: 10px;
	margin-left: 10px;
	height: auto;
	border-bottom: 1px solid #ccc;
}

.title-container h3{
	margin-top: 5px !important;
	text-align: center !important;
	font-size: 18px !important;
	color: #666 !important;
}

.signup-list-item {
	font-size: 15px;
	color: #777;
	padding: 5px 10px;
}

.data {
	text-decoration: none;
	list-style: none;
	padding:10px;
	background-color: #db7504;
	width:40%;
	height:80%;
}

.user-list {
	margin-right: 10px;
	margin-left: 10px;
	border-bottom: 1px solid #ccc;
	display: flex;
}

.user-list-left {
	width: 50%;
	
}

.user-list-right {
	width: 50%;
}

.user-status {
	position: relative;
	float: right;
	margin-right: 10px;
	color: #888;
	font-style: italic;
	margin-top: 12px;
	margin-bottom: 10px;
	font-size: 14px;
}

.user-email {
	margin-top: 10px;
	margin-bottom: 8px;
	margin-left: 5px;
}

/* Toggle switch style */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: 12px;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FD8907;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FD8907;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Closing style */

.img-with-tag {
	display: inline-block;
	position: relative;
}

div.polaroid-property {
	margin-top: 12px;
	margin-left: 1%;
	width: 100%;
	float:left;
	height: auto;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	min-width: 650px;
}

.polaroid-property-img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px; 
    width: 260px; 
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.property-container {
	margin-right: 10px;
	margin-left: 15px;
	height: 180px;
	width: 80%;
	display: flex;
	flex-direction: row;
	}

.property-title {
	text-align: left !important;
	color: #999;
	margin-left: 10px;
	margin-top:15px;
	font-size: 20px !important;
	display: inline-block;
	max-width: 95%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.address {
	font-family: 'Rubik', sans-serif !important;
	font-size: 16px !important;
	color: #888 !important;
	margin-left: 10px;
	margin-top: 3px;
}

.column-1 {
	height: inherit;
	width: 30%;
	min-width: 130px;
}

.column-2 {
	height: inherit;
	width: 45%;
	margin-left: 20px;
	min-width: 190px;
}

.property-characteristics {
	margin-left: 30px;
	height: 100px;
	margin-top: 20px;
	margin-right: 200px;
	display: flex;	
}

h4 {
	font-family: 'Rubik', sans-serif !important;
	font-size: 13px !important;
	color: #888 !important;
}

.more-info {
	height: 20px;
	margin-top: 5px;
	width: 102%;
}

.more-info-admin {
	height: 20px;
	margin-top: 5px;
	width: 105%;
}

.more-info-title {
	float: right;
	font-size: 15px !important;
	color: #FD8907 !important;
	margin-right: 25px;
}

.more-info-title-admin {
	float: right;
	font-size: 15px !important;
	color: #FD8907 !important;
	margin-right: 15px;
	margin-top: -2px;
}

.more-info-fav {
	height: 20px;
	margin-top: -15px;
	width: 123%;
}

#more-info-first {
	margin-top: -40px;
}

.delete{
	width:12px;
	height:12px;
	margin-top:-5px;
}

.price-tag {
	color: white !important;
	font-family: 'Rubik', sans-serif;
	font-size: 23px !important;
	position: absolute;
	bottom: 5px;
	left: 15px;
	text-shadow: 0.5px 1px 1px #666;
}

.next-image {
	height: 25px;
	width: 25px;
	top: 95px;
	right: 5px;
	position: absolute;
}

.prev-image {
	height: 25px;
	width: 25px;
	top: 95px;
	left: 5px;
	position: absolute;
	cursor: pointer;
}

/* List of publications */

.section_publications {
	margin-left: 240px;
	width: 78%;
	height: 100%;
}

#list-of-publications {
	display: inline-block;
	width: 100%;
}

/* End of style */

.signup-submit {
	height: 30px !important;
    width: 80px !important;
    padding: 3px !important;
    font-size: 15px !important;
    margin-left: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}

input[type=submit] {
    width: 80%;
    background-color: #FD8907;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-list-item label {
	margin-right: 5px;
}

.hidden{
	display:none;
}

.pub-date {
	font-size: 13px;
	color: #999;
	font-style: italic;
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}

.title_section {
	margin-top:20px;
	margin-left:10px;
	font-weight:580;
	color:dimgrey;
	font-size:23px;
}

.more-info-pub {
	height: 10px;
	margin-top: 56%;	
	width: 99%;
}

.first-column {
	width: 65%;
}

.second-column {
	width: 34%;
}

.location-select {
	min-width: 100px;
	height: 25px;
}

.location-input {
	width: 130px;
	height: 25px;
}

/* Style pagination */

.page-nums-container {
	text-align: center;
}

.page-nums {
	margin-top: 20px;
	display:inline-block;
	height: 70px;
}

.page-nums a {
    color: #FD8907;
    border: none;
    float: center;
    padding: 8px 16px;
    transition: background-color .3s;
    cursor: pointer;
}

.page-nums a:hover {
	outline:none;
	color: #FD8907;
	text-decoration: none;
	background-color: #ddd;
}

.page-nums a:focus {
	outline:none;
	background-color: #c6c6c6;
	color: white;
}

/* Style the active/current link */
.page-nums a.active {
    background-color: #aeaeae;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
	background-color: #a5a5a5;
} 

.actualPage{
	background-color: #aeaeae;
}

/* End of style */