@charset "UTF-8";

html{
    position:relative; 
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Rubik', monospace !important;
    margin-bottom:100px;
    background-size:100% auto;
	background-color: #eee !important;
}

h1 {
    font: bold 1.9em 'Rubik', sans-serif !important;
}

h3 {
	margin-top: 15px !important;
	text-align: center !important;
	font-size: 18px !important;
	color: #666 !important;
}

.prop-type-box {
	display: flex;
	padding-bottom: 5px;
}

.radio-1 {
	margin-right: 5px;
	margin-left: 7px;
	margin-top: 5px;
	margin-bottom: 7px;
	
}

.radio-2 {
	margin-right: 5px;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 7px;
}


div.polaroid_agency {
  margin-top: 40px;
  float: left;
  margin-left: 28%;
  width: 45%;
  height: auto;
  min-width: 250px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
}

.polaroid_img_agency{
	float: left;
	display: block;
	padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    width: auto; 
    max-width: 120px; 
    max-height: 200px;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 8px;
    margin-top: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none !important;
}

 div.fillers {
  text-align: left;
  padding: 5px 10px;
}
 label {
    display: inline-block;
}

 .polaroid_title {
    font-family: 'Rubik', sans-serif !important;
    font-size: 22px;
    font-weight: bold;
}


.fillers .button {
    background-color: #FD8907;
    border: none;
    color: white;
    width:100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.signup-list-item {
	font-size: 15px;
	color: #777;
	padding: 10px 10px 15px 10px;
}

input[type=submit] {
    width: 80%;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #FD8907;
    margin-left: 50px;
    float: right;
}

.signup-submit {
	height: 35px !important;
    width: 90px !important;
    padding: 5px !important;
    font-size: 15px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    background-color:red;
}

#step2-title {
	margin-right: 10px;
	margin-left: 10px;
	height: auto;
	border-bottom: 1px solid #ccc;
}

input[type=text], select {
    width: 95%;
    height: 35px;
    padding: 12px 20px;
    margin-top: 2px;
	margin-left: 5px;
    display: inline-block;
    border: 1px solid;
    border-color:#aaa;
    border-radius: 2px;
    box-sizing: border-box;
    color: #888;
}

label{
    margin-left: 2%;
}

.error{
  color: red;
  font-size: 14px;
  margin-left: 7px;
  margin-top: 1px;
}